In [42]:
# Import dependencies
import pandas as pd

In [43]:
# Set the website url
url = 'https://en.wikipedia.org/wiki/List_of_foreign_NBA_players'

In [44]:
# use read_html to scrape out tables and select the relevant table
tables = pd.read_html(url)[6]
tables

,Nationality[A],Birthplace[B],Player,Pos.,Career[C],Yrs,Notes,Ref.
0,Angola,—,Bruno Fernando*,G/F,2019–present,2,—,[11]
1,Antigua and Barbuda,United States,Julius Hodge,G,2005–2007,2,"Born in the United States, became a naturalize...",[12]
2,Argentina,—,Nicolás Brussino,G/F,2016–2017,2,—,[13]
3,Argentina,—,Facundo Campazzo*,G,2020–present,1,—,[14]
4,Argentina,—,Carlos Delfino,G,2004–2008;2009–2014,8,—,[15]
...,...,...,...,...,...,...,...,...
583,Venezuela,United States,Askia Jones,G,1994,1,"Born in the United States, represented Venezue...",[754]
584,Venezuela,United States,Harold Keeling,F,1986,1,"Born in the United States, represented Venezue...",[755]
585,Venezuela,United States,Donta Smith,G,2004–2006,2,"Born on the United States, represented Venezuela.",[756]
586,Venezuela,—,Óscar Torres,F,2001–2002,2,—,[757]
587,Venezuela,—,Greivis Vásquez,G,2010–2016,7,—,[758]

In [45]:
# drop irrelevant columns
tables = tables.drop(columns = ['Pos.', 'Yrs', 'Notes', 'Ref.'])

***Insights**

In order to select international players, we look at the birthplace of the players. However, in a lot of cases the column is blank, in which case, we look at their nationality (as several players are naturalized).

To do this, we run a for loop to select birthplace where given, else natinality where it is blank.

For this, we have converted the two columns into lists, appended into a new list, and then added back a new country column that has all the players' country

In [46]:
# create lists out of nationality and birthplace columns in order to iterrate through it
nationality = tables['Nationality[A]'].to_list()
birthplace = tables['Birthplace[B]'].to_list()

In [47]:
# define an empty country list
# run a loop to iterrate through nationality and birthplace and append to country list
country = []
for x in range(len(nationality)):
    if birthplace[x] == '—':
        country.append(nationality[x])
    else: 
        country.append(birthplace[x])

In [48]:
country

['Angola',
 'United States',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Sudan(now South Sudan)',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'United States',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Sudan(now South Sudan)',
 'Sudan(now South Sudan)',
 'United States',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'United States',
 'Zaire(now Democratic Republic of the Congo)',
 'United States',
 'United States',
 'United States',
 'United States',
 'Bosnia and Herzegovina',
 'Republic of Bosnia and Herzegovina',
 'SFR Yugoslavia(now Montenegro)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'United States',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Bulgaria',
 'United States',
 'United States',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Kingdom of Italy(now Italy)',
 'Canada',
 'Saint Lucia',
 'Lithuania',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Haiti',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Denmark',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Senegal',
 'Canada',
 'Canada',
 'Canada',
 'South Africa',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'United States',
 'Canada',
 'United States',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'United States',
 'Canada',
 'Cape Verde',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'West Germany(now Germany)',
 'Bosnia and Herzegovina',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'Croatia',
 'SFR Yugoslavia(now Croatia)',
 'United States',
 'Croatia',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Croatia)',
 'United States',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Bosnia and Herzegovina}',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Croatia)',
 'Croatia',
 'Croatia',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Croatia)',
 'Croatia',
 'Republic of Bosnia and Herzegovina',
 'Cuba',
 'Cuba',
 'Czechoslovakia(now Czech Republic)',
 'Czechoslovakia(now Czech Republic)',
 'Czechoslovakia(now Czech Republic)',
 'Czechoslovakia(now Czech Republic)',
 'Zaire(now Democratic Republic of the Congo)',
 'Zaire(now Democratic Republic of the Congo)',
 'Zaire(now Democratic Republic of the Congo)',
 'Democratic Republic of the Congo',
 'Dominica',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'United States',
 'United States',
 'Egypt',
 'Egypt',
 'Soviet Union(now Estonia)',
 'Finland',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'Guadeloupe',
 'United States',
 'France',
 'France',
 'France',
 'Guinea',
 'France',
 'Guadeloupe',
 'France',
 'United States',
 'France',
 'France',
 'French Guiana',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'United States',
 'Belgium',
 'France',
 'Belgium',
 'France',
 'Guadeloupe',
 'France',
 'France',
 'French Guiana',
 'France',
 'France',
 'Martinique',
 'France',
 'Gabon',
 'Gabon',
 'Georgia',
 'United States',
 'Soviet Union(now Georgia)',
 'United States',
 'United States',
 'Georgia',
 'Soviet Union(now Georgia)',
 'Soviet Union(now Georgia)',
 'United States',
 'United States',
 'West Germany(now Germany)',
 'Germany',
 'West Germany(now Germany)',
 'Weimar Republic',
 'West Germany(now Germany)',
 'United States',
 'Weimar Republic',
 'United States',
 'Germany',
 'West Germany',
 'West Germany',
 'West Germany',
 'West Germany',
 'Germany',
 'Germany',
 'Germany',
 'West Germany',
 'Germany',
 'Ghana',
 'United States',
 'Great Britain\xa0England',
 'Great Britain\xa0Scotland',
 'Great Britain\xa0England',
 'Sudan(now South Sudan)',
 'Great Britain\xa0England',
 'Great Britain\xa0England',
 'Great Britain\xa0England',
 'Great Britain\xa0England',
 'Great Britain\xa0England',
 'Great Britain\xa0England',
 'United States',
 'Greece',
 'Greece',
 'Greece',
 'United States',
 'United States',
 'Greece',
 'Greece',
 'United States',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Soviet Union(now Georgia)',
 'Guyana',
 'Guyana',
 'Haiti',
 'Haiti',
 'Haiti',
 'Hungary',
 'Iceland',
 'Iran',
 'Ireland',
 'United States',
 'United States',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'United States',
 'Italy',
 'Italy',
 'United States',
 'Italy',
 'United States',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'United States',
 'Italy',
 'United States',
 'United States',
 'Jamaica',
 'United States',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'United States',
 'United States',
 'Japan',
 'United States',
 'Japan',
 'Japan',
 'Soviet Union(now Latvia)',
 'Latvia',
 'Soviet Union(now Latvia)',
 'Latvia',
 'Latvia',
 'Latvia',
 'Soviet Union(now Latvia)',
 'United States',
 'United States',
 'United States',
 'Antigua and Barbuda',
 'United States',
 'United States',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Soviet Union(now Lithuania)',
 'Lithuania',
 'Soviet Union(now Lithuania)',
 'United States',
 'Soviet Union(now Lithuania)',
 'Lithuania',
 'Lithuania',
 'Mali',
 'Mali',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'United States',
 'SFR Yugoslavia(now Serbia)',
 'United States',
 'United States',
 'SFR Yugoslavia(now Montenegro)',
 'United States',
 'SFR Yugoslavia(now Montenegro)',
 'SFR Yugoslavia(now Montenegro)',
 'Switzerland',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'Nigeria',
 'United States',
 'Nigeria',
 'United States',
 'Nigeria',
 'Great Britain\xa0England',
 'Nigeria',
 'Nigeria',
 'United States',
 'Nigeria',
 'Nigeria',
 'United States',
 'United States',
 'United States',
 'United States',
 'Nigeria',
 'United States',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'United States',
 'United States',
 'United States',
 'United States',
 'SFR Yugoslavia(now North Macedonia)',
 'United States',
 'United States',
 'United States',
 'Norway',
 'United States',
 'Panama',
 'Panama',
 'United States',
 'United States',
 'United States',
 'United States',
 'Poland',
 'Poland',
 'United States',
 'Poland',
 'Puerto Rico',
 'United States',
 'Puerto Rico',
 'Puerto Rico',
 'United States',
 'Puerto Rico',
 'United States',
 'United States',
 'Puerto Rico',
 'Puerto Rico',
 'Puerto Rico',
 'Puerto Rico',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Romania',
 'Soviet Union(now Russia)',
 'Ukraine',
 'United States',
 'Russia',
 'Soviet Union(now Russia)',
 'Soviet Union(now Ukraine)',
 'Soviet Union(now Russia)',
 'Soviet Union(now Russia)',
 'United States',
 'Soviet Union(now Russia)',
 'Soviet Union(now Russia)',
 'Soviet Union(now Russia)',
 'Soviet Union(now Russia)',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'United States',
 'Senegal',
 'Senegal',
 'Senegal',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'FR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'FR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Serbia)',
 'FR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Montenegro)',
 'SFR Yugoslavia(now Montenegro)',
 'SFR Yugoslavia(now Croatia)',
 'FR Yugoslavia (now Serbia)',
 'SFR Yugoslavia(now Bosnia and Herzegovina)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Croatia)',
 'FR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Croatia)',
 'SFR Yugoslavia(now Serbia)',
 'SFR Yugoslavia(now Serbia)',
 'Czechoslovakia(now Slovakia)',
 'SFR Yugoslavia(now Slovenia)',
 'Slovenia',
 'Slovenia',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'West Germany(now Germany)',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'SFR Yugoslavia(now Slovenia)',
 'South Korea',
 'Sudan',
 'Sudan(now South Sudan)',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Republic of the Congo',
 'Spain',
 'Spain',
 'SFR Yugoslavia(now Montenegro)',
 'Spain',
 'Spain',
 'United States',
 'Spain',
 'Sudan(now South Sudan)[H]',
 'Sweden',
 'Sweden',
 'Switzerland',
 'Switzerland',
 'Tanzania',
 'United States',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Switzerland',
 'Turkey',
 'Turkey',
 'United States',
 'Turkey',
 'North Macedonia',
 'SFR Yugoslavia(now Serbia)',
 'Turkey',
 'Soviet Union(now Ukraine)',
 'United States',
 'Soviet Union(now Ukraine)',
 'Ukraine',
 'Soviet Union(now Ukraine)',
 'Ukraine',
 'Soviet Union(now Ukraine)',
 'Soviet Union(now Ukraine)',
 'Soviet Union(now Russia)',
 'Republic of China',
 'Netherlands',
 'Panama',
 'Sudan',
 'West Germany(now Germany)',
 'Spain',
 'U.S. Virgin Islands',
 'West Germany(now Germany)',
 'Jamaica',
 'Morocco',
 'Saint Vincent and the Grenadines',
 'West Germany(now Germany)',
 'Romania',
 'Belgium',
 'Australia',
 'Italy',
 'Jamaica',
 'Luxembourg',
 'Lebanon',
 'France',
 'Manchukuo(now China)',
 'Nigeria',
 'United Kingdom\xa0England',
 'Lebanon',
 'Sweden',
 'France',
 'Spain',
 'West Germany(now Germany)',
 'West Germany(now Germany)',
 'France',
 'U.S. Virgin Islands',
 'U.S. Virgin Islands',
 'United States',
 'United States',
 'Uruguay',
 'Trinidad and Tobago',
 'United States',
 'United States',
 'United States',
 'Venezuela',
 'Venezuela']

In [49]:
# add a new country column from the list
tables['Country'] = country
tables

,Nationality[A],Birthplace[B],Player,Career[C],Country
0,Angola,—,Bruno Fernando*,2019–present,Angola
1,Antigua and Barbuda,United States,Julius Hodge,2005–2007,United States
2,Argentina,—,Nicolás Brussino,2016–2017,Argentina
3,Argentina,—,Facundo Campazzo*,2020–present,Argentina
4,Argentina,—,Carlos Delfino,2004–2008;2009–2014,Argentina
...,...,...,...,...,...
583,Venezuela,United States,Askia Jones,1994,United States
584,Venezuela,United States,Harold Keeling,1986,United States
585,Venezuela,United States,Donta Smith,2004–2006,United States
586,Venezuela,—,Óscar Torres,2001–2002,Venezuela
587,Venezuela,—,Greivis Vásquez,2010–2016,Venezuela

In [50]:
# drop the nationality, birthplace and career columns 
tables = tables.drop(columns = ['Nationality[A]', 'Birthplace[B]', 'Career[C]'])
tables

                Player        Country
0      Bruno Fernando*         Angola
1         Julius Hodge  United States
2     Nicolás Brussino      Argentina
3    Facundo Campazzo*      Argentina
4       Carlos Delfino      Argentina
..                 ...            ...
583        Askia Jones  United States
584     Harold Keeling  United States
585        Donta Smith  United States
586       Óscar Torres      Venezuela
587    Greivis Vásquez      Venezuela

[588 rows x 2 columns]

In [51]:
# Remove special characters * asterix
# Referenced from Stack Overflow https://stackoverflow.com/questions/38277928/remove-special-characters-in-pandas-dataframe/38277932
tables=tables.replace('\*','',regex=True)
tables

               Player        Country
0      Bruno Fernando         Angola
1        Julius Hodge  United States
2    Nicolás Brussino      Argentina
3    Facundo Campazzo      Argentina
4      Carlos Delfino      Argentina
..                ...            ...
583       Askia Jones  United States
584    Harold Keeling  United States
585       Donta Smith  United States
586      Óscar Torres      Venezuela
587   Greivis Vásquez      Venezuela

[588 rows x 2 columns]